services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: ta3lem
      POSTGRES_PASSWORD: ta3lem123
      POSTGRES_DB: ta3lem_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/var/lib/redis
volumes:
  postgres_data:
  redis_data: